.wrapper {
  display: grid;
  gap: var(--small-distance-between);
  text-align: center;
  justify-items: center;
  font-size: var(--font-size-extra-small);
}

.links {
  font-size: var(--font-size-small);
  display: flex;
  gap: var(--small-distance-between);
}

.image {
  border-radius: var(--small-border-radius);
}
