.wrapper {
  display: grid;
  gap: var(--small-distance-between);
  text-align: center;
  font-size: var(--font-size-extra-small);
}

.linksContainer {
  font-size: var(--font-size-small);
}

.linksContainer > *:not(:last-child) {
  margin-right: var(--small-distance-between);
}
