.items {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: var(--small-distance-between);
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-small);
  font-weight: normal;
}

.text {
  word-break: break-word;
}

@supports (hyphens: auto) {
  .text {
    hyphens: auto;
  }
}
