._lock {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  border-radius: var(--default-border-radius);
  padding: 0 var(--default-padding) var(--default-padding) var(--default-padding);
  z-index: 10;
  color: var(--color-white);
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  border: 3px solid var(--color-primary);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.closeButtonWrapper {
  padding-top: var(--extra-small-padding);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: right;
}

.closeButton {
  color: var(--color-secondary);
}

@supports (hyphens: auto) {
  .modal {
    hyphens: auto;
  }
}
