.lock {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  border-radius: var(--default-border-radius);
  padding: 0 var(--default-padding) var(--default-padding) var(--default-padding);
  z-index: 10;
  color: var(--color-white);
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  border: 3px solid var(--color-primary);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.closeButton {
  display: block;
  position: sticky;
  top: 0;

  color: var(--color-accent);
  font-size: 35px;

  width: 35px;
  height: 35px;
  aspect-ratio: 1 / 1;

  margin-top: var(--extra-small-padding);
  margin-bottom: var(--extra-small-padding);
  margin-left: auto;

  outline: none;
}

.closeButton:focus-visible {
  box-shadow: 0 0 0 2px var(--color-accent); /* using box-shadow as border. */
}

@supports (hyphens: auto) {
  .modal {
    hyphens: auto;
  }
}
