.wrapper {
  margin-bottom: var(--distance-after-section);
}

.title {
  text-align: center;
  margin-bottom: var(--large-distance-between);
  font-size: var(--font-size-large);
}

.skillsList > *:not(:last-child) {
  margin-bottom: var(--default-distance-between);
}
