body {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  max-width: 100%;
  min-height: 100%;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2rem;
}
