* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.reverseColor {
  filter: invert(1);
}

/* Global Variables */

html {
  --container-max-width: 1000px;
  --distance-after-section: clamp(100px, 30vh, 300px);

  --small-border-radius: 0.5rem;
  --default-border-radius: 1rem;

  --small-distance-between: 0.5rem;
  --default-distance-between: 1rem;
  --large-distance-between: 1.5rem;
  --extra-large-distance-between: 2rem;

  --extra-small-padding: 0.2rem;
  --small-padding: 0.5rem;
  --default-padding: 0.75rem;
  --large-padding: 1.75rem;

  --color-primary: rgb(44, 55, 66);
  --color-secondary: rgb(68, 86, 104);

  --content-background-color: rgb(20, 29, 38);
  --color-white: #fff;

  --font-color-primary: #fff;
  --font-size-extra-small: 0.6rem;
  --font-size-small: 0.9rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 1.8rem;

  color: var(--font-color-primary);
  font-size: var(--font-size-large);
  font-family: 'Josefin Sans', sans-serif;
}
