.details {
  --accordion-default-color: var(--color-primary);
  --accordion-active-color: var(--color-secondary);
  --accordion-border-width: 2px;
  --accordion-chevorn-animation: 0.2s ease-out;
  --accordion-slide-animation: 0.3s ease-in-out;

  width: 100%;
  background-color: var(--accordion-default-color);
  border-radius: var(--default-border-radius);
  overflow: hidden;
}

.button {
  cursor: pointer;
  padding: var(--default-padding);
  border: var(--accordion-border-width) solid var(--accordion-active-color);
  border-radius: var(--default-border-radius);
}

.chevron {
  transition: var(--accordion-chevorn-animation);
}

.details[open] > .button > .chevron {
  transform: rotate(90deg);
  transition: transform var(--accordion-chevorn-animation);
}

.details[open] > .button {
  background-color: var(--accordion-active-color);
  border-radius: 0;
}

.dropdown {
  padding: var(--small-padding);
  border-left: var(--accordion-border-width) solid var(--accordion-active-color);
  border-bottom: var(--accordion-border-width) solid var(--accordion-active-color);
  border-right: var(--accordion-border-width) solid var(--accordion-active-color);
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

.details[open] > .dropdown {
  animation: slide var(--accordion-slide-animation);
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 500px) {
  .dropdown {
    padding: var(--extra-small-padding);
  }
}
